#{extends 'main.html' /}
#{set title:'Home' /}

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
</head>

<div id="header">
    <div id="logo">
        <div id="logo_text">
            <!-- class="logo_colour", allows you to change the colour of the text -->
            <h1><a href="@{Application.index()}">Si<span class="logo_colour">pro</span></a></h1>
        </div>
    </div>

    <div id="Header3"><br/>
        <ul id="menu">
            <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
            <li><a href="@{Application.telaPrincipal()}">Conta</a></li>
            <li><a href="@{Application.getDiagCadastro()}">Novo Paciente</a></li>
            <li><a href="@{Application.consultarFicha()}">Consultar Ficha</a></li>
            <li><a href="@{Application.getDiagGPrivado()}">Relatorios</a></li>
            <li class="selected"><a href="@{Application.contatoAdminPrivado()}">Contato</a></li>
        </ul>
    </div>
</div>


<div id="mainbox"> 


            <div style="text-align:right"><a href="@{Application.alterarSenha()}">alterar senha</a>&nbsp; &nbsp;<a href="@{Application.index()}">sair</a>&nbsp; &nbsp;</div>
            <div id="Header1" style="border-radius: 10px 10px 0px 0px;"> Contato </div>
            <div id="Descricao">Qualquer dúvida, sugestão ou reclamação, entre em contato conosco! Favor preencher o campo e-mail para que possamos responder sua mensagem.</div>

    <table width="70%" style="text-align:center;">
        <tr>
            <td>
                <div style="margin-top: 5%;">
                            #{ifErrors}
                            <div class="error" style="padding-top: 0%;">
                            <h2>Por favor corrija os seguintes erros:</h2>
                            </div>
                            #{/ifErrors}
                    <form action="@{Application.contatoPrivado()}" method="GET">
                        <fieldset>
                            <legend>Contato:</legend>
                            <table>
                                <tr><td style="text-align:right;">E-mail:</td><td style="text-align:left;"><input type = "text" name="email" value="${med?.getEmail() ?: params.email}"><span class="error">#{error 'email' /} </span></td></tr>
                                <tr><td style="text-align:right;"><label for="conteudo">Mensagem: </label></td><td style="text-align:left;"><textarea rows="10" name="conteudo" >${params.conteudo}</textarea><span class="error">#{error 'conteudo' /} </span></td></tr>
                                <tr><td style="text-align:right;"><input type = "submit" value="OK" /></td><td  style="text-align:left;"></td></tr>
                            </table>
                        </fieldset>
                    </form>	
                </div>
            </td>
        </tr>
    </table>
</div>

<div id="rodape">
    <br/>
    <b>DAMGeR</b>
    <br/>
    Sistema de Prontuário
    <br/>
</div>