#{extends 'main.html' /}
#{set title:'Resultado Ficha' /}

<script type="text/javascript">
  function goBack()
  {
window.open("@{Application.consultarFicha()}","_top");
  }
</script>

<div id="header">
    <div id="logo">
        <div id="logo_text">
            <!-- class="logo_colour", allows you to change the colour of the text -->
            <h1><a href="@{Application.index()}">Si<span class="logo_colour">pro</span></a></h1>
        </div>
    </div>
        
    <div id="Header3"><br/>
        <ul id="menu">
            <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
            <li ><a href="@{Application.telaPrincipal()}">Conta</a></li>
            <li><a href="@{Application.getDiagCadastro()}">Novo Paciente</a></li>
            <li class="selected"><a href="@{Application.consultarFicha()}">Consultar Ficha</a></li>
            <li><a href="@{Application.getDiagGPrivado()}">Relatorios</a></li>
            <li><a href="@{Application.contatoAdmin()}">Contato</a></li>
        </ul>
    </div>
</div>

        <div id="mainbox"> 

            <div style="text-align:right"><a href="@{Application.alterarSenha()}">alterar senha</a>&nbsp; &nbsp;<a href="@{Application.index()}">sair</a>&nbsp; &nbsp;</div>
            <div id="Header1" style="border-radius: 10px 10px 10px 10px;" >Consultar Paciente Cadastrado</div>
          
            <table width="70%" style="text-align:center;" style="max-width: 90%;">
                <tr>
                    <td>
                        <br/>
                        <br/>
                        <form action="@{Application.buscarPacientes()}" method="GET">
                            <fieldset >
                                <table>
                                    <tr><td style="text-align:right;">Nome:</td><td style="text-align:left;"><input type = "text" name="nome"></td></tr>
                                    <tr><td style="text-align:right;">Prontuário:</td><td style="text-align:left;"><input type = "text" name="prontuario"></td></tr>
                                    <tr><td style="text-align:right;">Data da consulta:</td><td width="70%" style="text-align:left;"><input name="dia" type="text" maxlength="2" size="2" ><input name="mes" type="text" maxlength="2" size="2" ><input name="ano" type="text" maxlength="4" size="4" >&nbsp;(dd/mm/aaaa)</td></tr>
                                    <tr><td><br/></td></tr>
                                        
                                    <tr><td style="text-align:right;" colspan="2">
                                            #{if !pList.isEmpty()}
                                            <table id ="Relatorio">
                                                <tr> <th>nome</th> <th>prontuario</th> <th>diagnostico</th><th>telefone</th><th>sexo</th><th>procedencia</th><th>endereco</th><th>historico familiar</th> <th>data de nascimento</th> </tr>
   									#{list items:pList, as:'p'}
                                                <tr #{if p_parity=="odd"} class="alt" #{/if} > <td><a href ="@{Application.atualizarFicha(p_index)}">${p.nome}</a></td> <td>${p.prontuario}</td> 
                                                    
                                                    <td style="text-align:left;">
                                                    <ul class="a">
                                                        #{if p.diagnostico1 != "Nenhum"}<li class="a">${p.diagnostico1}</li>#{/if}
                                                        #{if p.diagnostico2 != "Nenhum"}<li class="a">${p.diagnostico2}</li>#{/if}
                                                        #{if p.diagnostico3 != "Nenhum"}<li class="a">${p.diagnostico3}</li>#{/if}
                                                    </ul>
                                                    </td>
                                                
                                                
                                                <td>${p.telefone}</td> <td>#{if p.sexo == "f"}feminino#{/if}#{else}masculino#{/else}</td> <td>${p.procedencia}</td> <td>${p.endereco}</td> <td>#{if p.historico}sim#{/if}#{else}nao#{/else}</td> <td>${p.datanasc.toString()}</td></tr>
    								#{/list}
                                            </table> 
                                            #{/if}
                                            #{if pList.isEmpty()}
                                            <div class="error">
                                            <h2 style ="margin:0px 0px 0px 0px;">Nenhum resultado foi encontrado!</h2>
                                            <br/>
                                            </div>
                                            #{/if}
                                        </td></tr>                                     

                                    <tr><td style="text-align:right;"><input type = "submit" value="Buscar" /></td><td style="text-align:left;"><input type = "button" value="Voltar" onclick="goBack()"/></td></tr>
                                </table>
                            </fieldset>
                        </form>	
                    </td>

                </tr>
            </table>

            <br/>
            <br/>
            <br/>
        </div>
            
<div id="rodape">
    <br/>
    <b>DAMGeR</b>
    <br/>
    Sistema de Prontuário
    <br/>
</div>
    